<ion-header [translucent]="true" slot="fixed">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-img slot = end style="width: 40%; padding: 1%;" src="../../assets/img/logo.jpeg"></ion-img>
  </ion-toolbar>
  <!-- Barra de búsqueda -->
  <ion-searchbar #termino showCancelButton="never" placeholder="Buscar" animated (ionInput)="buscar(folder, termino.value)"></ion-searchbar>
  <!-- /Barra de búsqueda -->
</ion-header>

<ion-content>
  <div id="container">
    <ion-list *ngIf="personal">
      <ion-card>
        <ion-item-sliding *ngFor="let personal of Personal">
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>{{ personal.nombre }}</ion-label>
            <ion-button fill="outline" slot="end" (click)="verTarjetas( personal.uid, folder )">Ver</ion-button>
          </ion-item>
  
          <ion-item-options side="end">
            <!-- Cambiar función por borrar operador -->
            <ion-item-option (click)="eliminarOperador( personal.uid )" style="background-color: #eb445a;">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option (click)="editarOperador( personal )">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-list>

    <ion-list *ngIf="arneses">
      <ion-card>
        <ion-item-sliding *ngFor="let arnes of Arneses">
          <ion-item>
            <ion-icon name="extension-puzzle" slot="start"></ion-icon>
            <ion-label>{{ arnes.ARN }}</ion-label>
            <ion-button fill="outline" slot="end" (click)="verTarjetas( arnes.uid, folder )">Ver</ion-button>
          </ion-item>
  
          <ion-item-options side="end">
            <!-- Cambiar función por borrar operador -->
            <ion-item-option (click)="eliminarArnes( arnes.uid )" style="background-color: #eb445a;">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option (click)="editarArnes( arnes )">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-list>

    <ion-list *ngIf="mo">
      <ion-card>
        <ion-item-sliding *ngFor="let mo of MO">
          <ion-item>
            <ion-icon name="newspaper" slot="start"></ion-icon>
            <ion-label>{{ mo.MO }}</ion-label>
            <ion-button fill="outline" slot="end" (click)="verTarjetas( mo.uid, folder )">Ver</ion-button>
          </ion-item>
  
          <ion-item-options side="end">
            <!-- Cambiar función por borrar operador -->
            <ion-item-option (click)="eliminarMO( mo.uid )" style="background-color: #eb445a;">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option (click)="editarMO( mo )">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-list>

    <ion-list *ngIf="registros">
      <ion-card>
        <ion-item-sliding *ngFor="let registros of Registros">
          <ion-item>
            <ion-icon name="bar-chart" slot="start"></ion-icon>
            <ion-label>{{ registros.actividad }} | {{ registros.nombre }}</ion-label>
            <ion-button fill="outline" slot="end" (click)="verTarjetas( registros.uid, folder )">Ver</ion-button>
          </ion-item>
  
          <ion-item-options side="end">
            <!-- Cambiar función por borrar operador -->
            <ion-item-option (click)="eliminarRegistro( registros.uid )" style="background-color: #eb445a;">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option (click)="editarRegistro( registros )">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-list>
  
    <!-- <strong class="capitalize">Bitácora{{ folder }}</strong> -->
    <!--<p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
  </div>

  <!-- Fab -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar(folder)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- /Fab -->
</ion-content>
